@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #f9f7f0;
  }

  .landing-header {
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
    justify-content: space-between;
  }
  
  .logo-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 20px 35px;
  }
  
  .logo-container > h1 {
    margin: 0;
    font-size: 1.4em;
  }
  
  .house-icon {
    background-image: url('https://cdn-icons-png.flaticon.com/128/11382/11382524.png');
    width: 1.4em;
    height: 1.4em;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2px;
    padding-left: 5px;
  }
  
  .landing-image {
    background-image: url('https://images.unsplash.com/photo-1448630360428-65456885c650');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 0 0 -8px;
  }
  
  .auth-links,
  .nav-links {
    margin: 25px 20px;
  }
  
  .auth-links > a {
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .auth-links > a:first-child {
    background-color: #274c9c;
  }
  
  .auth-links > a:first-child:hover {
    background-color: black;
    color: white;
  }
  
  .auth-links > a:nth-child(2) {
    background-color: #6f8dae;
  }
  
  .auth-links > a:nth-child(2):hover {
    background-color: black;
    color: white;
  }
  
  .nav-links > a {
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    color: black;
  }
  
  .nav-links > a:hover {
    color: #6f8dae;
    text-decoration: underline;
  }
  .landing-header {
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
    justify-content: space-between;
  }
  
  .logo-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 20px 35px;
  }
  
  .logo-container > h1 {
    margin: 0;
    font-size: 1.4em;
  }
  
  .house-icon {
    background-image: url('https://cdn-icons-png.flaticon.com/128/11382/11382524.png');
    width: 1.4em;
    height: 1.4em;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2px;
    padding-left: 5px;
  }
  
  .landing-image {
    background-image: url('https://images.unsplash.com/photo-1448630360428-65456885c650');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 0 0 -8px;
  }
  
  .auth-links,
  .nav-links {
    margin: 25px 20px;
  }
  
  .auth-links > a {
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .auth-links > a:first-child {
    background-color: #274c9c;
  }
  
  .auth-links > a:first-child:hover {
    background-color: black;
    color: white;
  }
  
  .auth-links > a:nth-child(2) {
    background-color: #6f8dae;
  }
  
  .auth-links > a:nth-child(2):hover {
    background-color: black;
    color: white;
  }
  
  .nav-links > a {
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    color: black;
  }
  
  .nav-links > a:hover {
    color: #6f8dae;
    text-decoration: underline;
  }

  .signup-page,
.signin-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}

.signup-form-container-1,
.signin-form-container-1 {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signup-form-container-2,
.signin-form-container-2 {
  padding: 10px 30px 20px;
  border: 1px solid gray;
}

.signup-form-container-2 > h1,
.signin-form-container-2 > h1 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.5em;
}

.signup-form-container-2 > form,
.signin-form-container-2 > form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.9em;
}

input {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
  margin: 10px 0;
  width: 15em;
  padding: 5px;
}

button {
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  background-color: #274c9c;
  padding: 7px 15px;
  margin: 10px 0;
}

button:hover {
  background-color: black;
}
/* sign-up */
.signup-img {
  background-image: url('https://images.unsplash.com/photo-1600607687486-6cced9976e79');
  min-height: 110vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  position: relative;
  z-index: -10;
}

.signup-img {
  background-image: url('https://images.unsplash.com/photo-1600607687486-6cced9976e79');
  min-height: 110vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  position: relative;
  z-index: -10;
}
.signin-img {
  background-image: url('https://images.unsplash.com/photo-1479839672679-a46483c0e7c8');
  min-height: 110vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  position: relative;
  z-index: -10;
  left: -10px;
}
/* ----------------------------- */
.btn {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
  cursor: pointer;
  /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    /* Top-left */ 0% var(--curve-size),
    var(--curve-size) 0,
    /* top-right */ 100% 0,
    100% calc(100% - var(--curve-size)),
    /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
    /* bottom-right 2 */ 0 100%
  );
  transition: color 250ms;
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    /* Top-left */ var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
}
